title=Coding Style


<h2 id="precedence">{{s1 Precedence}}</h2>

<p>{{s2 The Adblock Plus coding style is based on others. Our rules (both general and language specific) always overrule referenced style guides. The language specific sections overrule the general section.}}</p>

<h2 id="consistency">{{s3 Consistency}}</h2>

<p>{{s4 Consistency is most important: Be consistent within functions, files, modules and projects. Making existing code conform with this style guide is fine, but it should happen in dedicated commits, preferably for a whole module or project at once.}}</p>

<h2 id="general">{{s5 General}}</h2>
<ul>
  <li>{{s6 Follow the Mozilla Coding Style's <a href="https://developer.mozilla.org/en-US/docs/Developer_Guide/Coding_Style#General_C.2FC.2B.2B_Practices">general practices</a> and its <a href="https://developer.mozilla.org/en-US/docs/Developer_Guide/Coding_Style#Naming_and_Formatting_code">naming and formatting rules</a>.}}</li>
  <li>{{s8 All files should have a <a href="license-headers">license header</a>, but no mode line comments.}}</li>
  <li>{{s9 Newline at end of file, otherwise no trailing whitespace.}}</li>
  <li>{{s10 Lines can be longer than the limit, if limiting line length would hurt readability in a particular case.}}</li>
  <li>{{s11 Opening braces always go on their own line.}}</li>
  <li>{{s12 No hungarian notation, no special variable name prefixes or suffixes denoting type or scope. All variable names start with a lower case letter.}}</li>
  <li>{{s13 Don't comment code out, delete it.}}</li>
  <li>{{todo-comments Don't add TODO comments, create an issue and reference it in a comment instead.}}</li>
  <li>{{zopflipng Always optimize PNG images using <a href="https://github.com/google/zopfli/blob/master/README.zopflipng">ZopfliPNG</a>.}}</li>
</ul>

<h2 id="javascript">{{s14 JavaScript}}</h2>
<ul>
  <li>{{s15 Follow the Mozilla Coding Style's <a href="https://developer.mozilla.org/en-US/docs/Developer_Guide/Coding_Style#JavaScript_practices">JavaScript practices</a>.}}</li>
  <li>{{javascript-strict Always use <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Strict_mode">strict mode</a>.}}</li>
  <li>{{javascript-operator-linebreak When splitting overlong expressions into multiple lines the joining binary operators should be left at the end of the line, before the linebreak. This does not apply to member access operators, such as <code><fix>.</fix></code> which should be placed on the following line.}}</li>
  <li>{{javascript-if-else-braces When an <code><fix>if</fix></code> statement, an <code><fix>else</fix></code> statement or a loop spans over more than one line always enclose it with braces.}}</li>
  <li>{{s18 In classes, prefix private functions with a single underscore to make them pseudo-private.}}</li>
  <li>{{javascript-spacing-literals Don't add any spaces immediately after opening, or before closing, an object or array literal.}}</li>
  <h3 id="javascript-modern">{{javascript-es6 Modern JavaScript (where supported)}}</h3>
  <ul>
    <li>{{javascript-block-scoping Always use <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Statements/block#With_let_and_const">block-scoping</a> (<code><fix>let</fix></code> / <code><fix>const</fix></code>), except when sharing global variables between scripts cannot be avoided.}}</li>
    <li>{{javascript-const Use <code><fix>const</fix></code> for constant expressions that could as well have been inlined (e.g. static parameters, imported modules, etc.).}}</li>
    <li>{{javascript-arrow Use the <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Functions/Arrow_functions">arrow function</a> syntax when passing anonymous functions that don't require the binding of their own <code><fix>this</fix></code> or <code><fix>arguments</fix></code> variables.}}</li>
    <li>{{javascript-method Use the <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Functions/Method_definitions">method definition shorthand</a> syntax when defining methods on an object.}}</li>
    <li>{{javascript-for-of When iterating over arrays in the canonical order use the new <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Statements/for...of"><code><fix>for..of</fix></code></a> syntax if the loop index isn't required. (Rather than using <code><fix>for(;;)</fix></code> or the <code><fix>forEach()</fix></code> method.)}}</li>
    <li>{{javascript-map-set Use the <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Map"><code><fix>Map</fix></code></a> or <a href="https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Set"><code><fix>Set</fix></code></a> objects, rather than misusing plain objects, when you need a hash table.}}</li>
    <li>{{javascript-eslint Run <a href="http://eslint.org"><fix>ESLint</fix></a> with the <a href="https://gitlab.com/eyeo/auxiliary/eyeo-coding-style/tree/master/eslint-config-eyeo"><fix>eslint-config-eyeo</fix></a> configuration and fix any warning.}}</li>
  </ul>
</ul>

<h2 id="html-css">{{html-css HTML and CSS}}</h2>
<ul>
  <li>{{html-css-general Follow the <a href="https://google.github.io/styleguide/htmlcssguide.html">Google HTML/CSS Style Guide</a>.}}</li>
  <li>{{html-css-quotation Use double over single quotation marks.}}</li>
  <li>{{html-css-optional-tag Don't omit optional HTML tags.}}</li>
  <li>{{html-css-hexadecimal CSS color values should be specified in hexadecimal where possible.}}</li>
  <li>{{html-css-shorthand CSS shorthand properties usage is optional.}}</li>
  <li>{{html-css-order CSS rule declaration order should follow the <a href="https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/#property-ordering">WordPress CSS Coding Standards</a>.}}</li>
  <li>{{html-css-leading-zero Don't omit the optional leading 0 for decimal numbers.}}</li>
  <li>{{html-css-single-line CSS declaration blocks with a single selector and a single rule can be written in a single line.}}</li>
  <li>{{ html-css-font-unit CSS font weight values should be specified in relative or numerical notation }}</li>
</ul>

<h2 id="python">{{s19 Python}}</h2>
<ul>
  <li>{{python-general Follow <a href="https://www.python.org/dev/peps/pep-0008/"><fix>PEP-8</fix></a> and the recommendations in the offical <fix>Python</fix> documentation.}}</li>
  <li>{{python-version Make the code compatible with both <fix>Python 2.7</fix> and <fix>Python 3.5+</fix> (see <a href="https://docs.python.org/dev/howto/pyporting.html">this guide</a>). Use <a href="https://docs.python.org/2/library/__future__.html"><fix>__future__</fix> imports</a> to address syntactic differences but avoid <a href="https://pythonhosted.org/six/"><fix>six</fix></a>, <a href="http://python-future.org/compatible_idioms.html"><fix>python-future</fix></a>, etc. to not introduce additional dependencies.}}</li>
  <li>{{python-strings Write string literals so that they match the behaviour of <a href="https://docs.python.org/3/library/functions.html#ascii"><code><fix>ascii()</fix></code></a>, i.e. use single quotes except to avoid escaping of embedded quotes and use <code><fix>\u</fix></code> escapes for non-ascii characters but don't prefix strings with <code><fix>u</fix></code>. For docstrings, however, follow <a href="https://www.python.org/dev/peps/pep-0257/">PEP-257</a>.}}</li>
  <li>{{python-prefix In modules, prefix private functions and variables with a single underscore.}}</li>
  <li>{{python-concatenation Use the <code><fix>+</fix></code> operator when concatenating exactly two strings, use the <a href="https://docs.python.org/2/library/stdtypes.html#str.format"><code><fix>format()</fix></code> method</a> for more complex string formatting, use the <a href="https://docs.python.org/2/library/stdtypes.html#str.join"><code><fix>join()</fix></code> method</a> when concatenating pre-existing sequences.}}</li>
  <li>{{python-tuple-vs-list Use tuples for data that have structure, use lists for data that have order.}}</li>
  <li>{{python-builtins Don't override builtins except for <a href="https://docs.python.org/2/library/functions.html#non-essential-built-in-funcs">non-essential builtins</a> and <code><fix>file</fix></code> which is superfluos in modern code as well.}}</li>
  <li>{{python-map-filter Use list comprehensions or generator expressions instead of calling <code><fix>map()</fix></code> or <code><fix>filter()</fix></code> with a lambda function.}}</li>
  <li>{{python-multiline The preferred way of wrapping long lines is by using Python's implied line continuation inside parentheses, brackets and braces. Long lines can be broken over multiple lines by wrapping expressions in parentheses:}}
    <ol>
      <li>{{python-multiline-a1[list item] aligning follow up lines with the opening parentheses and putting the closing parentheses at the end of the last line}}
          (<a onclick="getElementById('python-multiline-a1-example').classList.toggle('hide');">{{python-multiline-a1-example example}}</a>), or
        <pre class="hide" id="python-multiline-a1-example">
    long_object_name.long_method_name(argument1, argument2,
                                      keyword_argument=value)

    very_long_variable = ['a list of', 'strings that does not',
                          'fit into', 'one line']
        </pre>
      </li>
      <li>{{python-multiline-a2[list item] breaking the line at the opening parentheses, indenting follow up lines by 4 spaces, and placing the closing parentheses on a separate line that is aligned with the line that contains the opening parentheses}}
          (<a onclick="getElementById('python-multiline-a2-example').classList.toggle('hide');">{{python-multiline-a2-example example}}</a>).
        <pre class="hide" id="python-multiline-a2-example">
    long_object_name.long_method_name(
        argument1,
        argument2,
        keyword_argument=value,
    )

    very_long_variable = [
        'a list of',
        'strings that does not',
        'fit into',
        'one line',
    ]
        </pre>
      </li>
    </ol>
    {{python-multiline-commas When breaking lists of items separated by commas (e.g. lists, dicts, argument lists) using the second approach add a comma after the last element. This allows adding and rearranging items without touching unrelated lines.}}
  </li>
  <li>{{python-regexp Use <a href="https://docs.python.org/2/library/re.html#re.search"><code><fix>re.search()</fix></code></a> instead of <code><fix>re.match()</fix></code> to avoid <a href="https://docs.python.org/2/library/re.html#search-vs-match">confusion</a> about implied beginning of the string but not the ending.}}</li>
  <li>
    {{python-flake8 Run <a href="https://pypi.python.org/pypi/flake8"><fix>flake8</fix></a> with following extensions and fix all reported errors:}}
    <ul>
      <li><a href="https://gitlab.com/eyeo/auxiliary/eyeo-coding-style/tree/master/flake8-eyeo">flake8-eyeo</a></li>
      <li><a href="https://pypi.python.org/pypi/flake8-docstrings">flake8-docstrings</a> ({{python-flake8-docstring-exception with <code><fix>D1</fix></code> ignored}})</li>
      <li><a href="https://pypi.python.org/pypi/flake8-commas">flake8-commas</a></li>
      <li><a href="https://pypi.python.org/pypi/pep8-naming">pep8-naming</a></li>
    </ul>
  </li>
  <li>{{python-tests Write tests and have them run along <fix>flake8</fix> using <a href="https://pypi.python.org/pypi/tox"><fix>tox</fix></a>.}}</li>
</ul>

<h2 id="java">{{s22 Java}}</h2>
<ul>
  <li>{{s23 Follow the Mozilla Coding Style's <a href="https://developer.mozilla.org/en-US/docs/Developer_Guide/Coding_Style#Java_practices">Java practices</a>.}}</li>
  <li>{{s24 Imports should be organised consistently per file, we don't use global rules.}}</li>
</ul>

<h2 id="cpp">{{s25 C++}}</h2>
<ul>
  <li>{{s26 Follow the Mozilla Coding Style's <a href="https://developer.mozilla.org/en-US/docs/Developer_Guide/Coding_Style#C.2FC.2B.2B_practices">C++ practices</a>.}}</li>
  <li>{{s27 Indent namespace bodies.}}</li>
  <li>{{s28 Avoid manual memory management: Use references and values when possible, smart pointers when necessary, raw pointers only for weak references.}}</li>
  <li>{{s29 Don't use C-style casts unless its exact semantics are required.}}</li>
  <li>{{s30 We tend to use anonymous namespaces instead of static.}}</li>
</ul>

<h2 id="objc">{{objective-c Objective-C}}</h2>
<ul>
  <li>{{objc-conventions Follow Apple's <a href="https://developer.apple.com/library/ios/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Conventions/Conventions.html">conventions</a>}}.</li>
</ul>

<h2 id="puppet">{{s31 Puppet}}</h2>
<ul>
  <li>{{s32 Follow the <a href="http://docs.puppetlabs.com/guides/style_guide.html">Puppet Style Guide</a>.}}</li>
  <li>{{s33 Opening braces don't go on their own line.}}</li>
  <li>{{s34 Arrows should not be aligned.}}</li>
</ul>
