<div id="footer-download" class="container">
  <section class="section download">
    <div class="content text-center">
      <h2>
        {{ footer-download-heading[heading] Download Adblock Plus for Chrome }}
      </h2>
      <p>
        {{ footer-download-paragraph-1 By downloading and installing this extension, you agree to our <a href="terms" class="legal">Terms of Use</a> and our <a href="privacy" class="legal">Privacy Policy</a>. }}
      </p>
      <p class="footer-download-spacing">
        <a
          class="button icon-button"
          href="https://eyeo.to/adblockplus/chrome_install/adblock-plus-chrome">
          <img
            src="/img/dl_button_chrome_color.svg"
            alt="Chrome browser icon" class="button-image">
          <span class="button-text">{{ footer-download-button-label[button label] Get Adblock Plus for Chrome }}</span>
        </a>
      </p>
      <p>
        <a href="download">
          {{ footer-download-other-label[link text] Download Adblock Plus for another browser }}
        </a>
      </p>
    </div>
  </section>
</div>
